<h1>Bluebird.js Promise Example</h1>

<a href="https://www.thirdandgrove.com/take-better-control-of-your-code-using-javascript-promises" > Link about Bluebird.js Exampple</a>
<a href="http://stackabuse.com/avoiding-callback-hell-in-node-js/" > Link about Promises Exampple</a>


<img src="/images/bb.png" >

    <h2>{{resultofbb}}</h2>